function user_source!(S,
                      q,
                      qe,
                      npoin::Int64,
                      ::CL, ::TOTAL;
                      neqs={{ num_equations }}, x=0.0, y=0.0, ymin=0.0, ymax=0.0, xmin=0.0, xmax=0.0)

    PhysConst = PhysicalConst{Float64}()

    # Extract variables
    {%- for i, var in enumerate(variables) %}
    {{ var }} = q[{{ i+1 }}]
    {%- endfor %}

    # Source terms
    {%- for i, source in enumerate(source_terms) %}
    S[{{ i+1 }}] = {{ source }}
    {%- endfor %}

end

function user_source!(S,
                      q,
                      qe,
                      npoin::Int64,
                      ::CL, ::PERT;
                      neqs={{ num_equations }}, x=0.0, y=0.0, ymin=0.0, ymax=0.0, xmin=0.0, xmax=0.0)

    PhysConst = PhysicalConst{Float64}()

    # Extract variables (perturbation form)
    {%- for i, var in enumerate(variables) %}
    {{ var }} = q[{{ i+1 }}]  # Perturbation
    {%- endfor %}

    # Source terms
    {%- for i, source in enumerate(source_terms) %}
    S[{{ i+1 }}] = {{ source }}
    {%- endfor %}

end

function user_source_gpu(q, qe, x, y, PhysConst, xmax, xmin, ymax, ymin, lpert)

    T = eltype(q)

    # Extract variables
    {%- for i, var in enumerate(variables) %}
    {{ var }} = q[{{ i+1 }}]
    {%- endfor %}

    # Source terms
    return {%- for i, source in enumerate(source_terms) %}T({{ source }}){%- if not loop.last %}, {% endif %}{%- endfor %}
end
