 
  name: CI

  on:
    pull_request:
      branches:
        - un/mergedmasterCI
    push:
      branches:
        - un/mergedmasterCI
      tags:
        - '*'  

  jobs:
    test:
      name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
      runs-on: ${{ matrix.os }}
      strategy:
        fail-fast: false
        matrix:
          version:
            - '1.10.0'
          arch:
            - x64
          os:
            - ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: julia-actions/setup-julia@v1
          with:
            version: ${{ matrix.version }}
            arch: ${{ matrix.arch }}
        - uses: actions/cache@v3
          with:
            path: ~/.julia/artifacts
            key: ${{ runner.os }}-test-${{ hashFiles('**/Project.toml', '**/Manifest.toml') }}
            restore-keys: |
              ${{ runner.os }}-test-${{ env.cache-name }}-
              ${{ runner.os }}-test-
              ${{ runner.os }}-
        - uses: julia-actions/julia-buildpkg@v1
        - uses: julia-actions/julia-runtest@v1
        - uses: julia-actions/julia-processcoverage@v1
        - uses: codecov/codecov-action@v3
          with:
            file: lcov.info          
